:root{
/* Primary */
--Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);

/* Neutral */
--White: hsl(0, 0%, 100%);
--Grayish-blue: hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);

/* Gradient */
/* Background gradient - Intro/CTA mobile nav: */
--Very-light-red: hsl(13, 100%, 72%);
--Light-red: hsl(353, 100%, 62%);

/* Background gradient - body: */
--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated-blue: hsl(237, 23%, 32%);

--menu-width: 25rem;
--menu-border-radius: 0.5rem;
--top-header-distance: 3.45rem;
--top-header-height: 2rem;
--footer-height: 55rem;
}


/* general settings */

*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-size: 16px;
    font-family:'ubuntu', 'sans serif';
    /* background-color: red; */
    text-align: center;
}

nav ul{
    display: none;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
}

.big-img{
    width:100%;
}

p{
    /* font-family: "Overpass", 'sans-serif'; */
    font-size: 1.1rem;
    padding:  0 1.4rem;
    line-height: 2rem;

}

h1{
    font-size: 2.05rem;
    letter-spacing: normal;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 6.8rem 0 0 0;
    font-family: "Overpass", 'sans-serif';
}

h2{
    padding: 4rem 1.5rem  1rem 1.5rem;
    color: var(--Very-dark-blue);
    /* padding-bottom: 3rem; */
    font-family: "Overpass", 'sans-serif';
    font-weight: bolder;
    font-size: 1.8rem;
}

/*dropdown menu*/

.dropdown-menu{
    background-color: yellow;
    position: absolute;
    top: calc(2*var(--top-header-distance) + var(--top-header-height));
    left:5vw;
    right:5vw;
    padding: 1.5rem;
    border-radius: var(--menu-border-radius);
}

nav ul{
    display: block;
}

nav li{
    padding: 1rem;
}

nav ul li ul{
    display: block;
    background-color:var(--Grayish-blue) ;
    border-radius: var(--menu-border-radius);
    margin-top: 1rem;

}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 1rem 0;
}

nav *{
    display:none;
}




/* header */

header{
    padding: var(--top-header-distance) 1.8rem;
    display: flex;
    flex-flow: column nowrap ;
    background-color: green;
    width: 100vw;
    height: 36rem;
    border-radius: 0 0 0 6.1rem;
    /* background-image: url(images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: -35rem 1;
    background-size: 30%; */
    background: linear-gradient(180deg, var(--Very-light-red) 0%, var(--Light-red));
    color:white;
}

.hamburger{
    height: 1.1rem;
}

.btn{
    border-radius: 5rem;
    height: 2.9rem;
    width: 8.5rem;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn a{
    color:white;
    font-weight: 700;
    font-size: 1rem;
}


/* this p was important */
/* p{
    line-height: 1.2rem;
} */

.btn:nth-child(1){
    background-color: white;
}

.btn:nth-child(1) a{
    color: var(--Light-red);
}

.btn:nth-child(2){
    background-color: transparent;
}

.top-header{
    height: var(--top-header-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: 100%;
}

.header-btn-area{
    display: flex;
    justify-content: space-between;
}

.header-text{
    padding: 0 0.9rem;
}

.header-text  > p{
    padding-top: 1.6rem;
    padding-bottom: 3rem;
}


.first-h2 {
    padding-top:6.6rem;
}


/* special section */

.special-section{
    padding-top:10rem;
    background: url(images/bg-pattern-circles.svg) no-repeat center top -30rem,
                        linear-gradient(180deg,   var(--Very-dark-gray-blue) 0%,
                        var(--Very-dark-desaturated-blue) 100%);
    height: max-content;
    border-radius: 0 6.1rem 0 6.1rem;
    margin-bottom: 4rem;
}

.special-image {
    position: relative;
    top: 15rem;
    margin-top: -10rem;
}

.special-section h2{
    color:white;
}
.special-section p{
    padding: 0 2rem 13rem 2rem;
    font-family: "Overpass", 'sans-serif';
    color:white;
    
}




/* footer */
footer{
margin-top:8rem;
    background-color: var(--Very-dark-black-blue);
    border-radius: 0 6.1rem 0 0;
    height: var(--footer-height);
}

footer img{
    margin: 4rem;
}

footer a{
    color: white;
}

footer > ul > li > ul{
    margin: 2.5rem;
}
footer > ul > li > a{
    font-weight: 500;
}

footer > ul > li > ul li:not(:last-child){
    margin-bottom : 1rem;
}

