:root{
/* Primary */
--Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);

/* Neutral */
--White: hsl(0, 0%, 100%);
--Light-Gray:rgb(235, 232, 232);
--Grayish-blue: hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);

/* Gradient */
/* Background gradient - Intro/CTA mobile nav: */
--Very-light-red: hsl(13, 100%, 72%);
--Light-red: hsl(353, 100%, 62%);

/* Background gradient - body: */
--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated-blue: hsl(237, 23%, 32%);

--menu-width: 25rem;
--menu-border-radius: 0.5rem;
--top-header-distance: 3.45rem;
--top-header-height: 2rem;
--footer-height: 55rem;
--submenu-margin: 1.5rem;
--menu-padding:1.7rem;
}


/* general settings */

*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-size: 16px;
    font-family:'ubuntu', 'sans serif';
    /* background-color: red; */
    text-align: center;
}

nav ul{
    display: none;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color:black;
    font-family: 'Overpass', 'sans serif';
    
}

button{
    background-color: transparent;
    border: none;
}

.big-img{
    width:100%;
}

p{
    /* font-family: "Overpass", 'sans-serif'; */
    font-size: 1.1rem;
    padding:  0 1.4rem;
    line-height: 2rem;

}

h1{
    font-size: 2.05rem;
    letter-spacing: normal;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 6.8rem 0 0 0;
    font-family: "Overpass", 'sans-serif';
}

h2{
    padding: 4rem 1.5rem  1rem 1.5rem;
    color: var(--Very-dark-blue);
    /* padding-bottom: 3rem; */
    font-family: "Overpass", 'sans-serif';
    font-weight: bolder;
    font-size: 1.8rem;
}

/*dropdown menu*/

nav{
    display: none;
}

.menu{
    background-color: white;
    position: absolute;
    top: calc(var(--top-header-distance) + var(--top-header-height) + 2.3rem);
    left:var(--menu-padding);
    right:var(--menu-padding);
    /* padding: 1.5rem; */
    border-radius: var(--menu-border-radius);
    box-shadow: 0 0.5rem 2.2rem -1rem var(--Very-dark-grayish-blue);
}

.menu a{
    color: var(--Very-dark-blue);
    font-weight: 600;
}

.menu-list{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



.menu-item{
    height: 100%;
    width: 100%;
}

.menu-item > a{
    font-size: 1.1rem;
}

.menu-item a{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 3rem; 
}

/* .menu-item > a */


.menu-item img{
    margin-left: 0.4rem;
}

.menu-item:first-child{
    margin-top: 1rem;
}

.menu-list:last-child{
    margin: 1rem 0;
}


.submenu{
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color:var(--Light-Gray) ;
    border-radius: var(--menu-border-radius);
    margin: 0.5rem var(--submenu-margin);
}

.submenu li{
    display:flex;
    justify-content: center;
    align-items: center;
}

.submenu li a{
    height: 3rem;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid var(--Light-Gray);
    margin: 1.5rem 0;
    width: calc(100% - 2*var(--submenu-margin)) ;
}

.sign-up{
    background: linear-gradient(-90deg, var(--Light-red) 0%, var(--Very-light-red) 100%);
}

/* nav *{
    display:none;
} */

/* js dropdown menu classes */

.visable{
    display:  block;
}



/* header */

header{
    padding: var(--top-header-distance) 1.8rem;
    display: flex;
    flex-flow: column nowrap ;
    width: 100vw;
    height: 36rem;
    border-radius: 0 0 0 6.1rem;
    /* background-image: url(images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: -35rem 1;
    background-size: 30%; */
    background: linear-gradient(180deg, var(--Very-light-red) 0%, var(--Light-red));
    color:white;
}

.hamburger{
    height: 1.1rem;
}

.btn{
    border-radius: 5rem;
    width: 8.5rem;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    width:100%;
    height: 2.9rem;
    color:white;

}


/* this p was important */
/* p{
    line-height: 1.2rem;
} */

.btn:nth-child(1){
    background-color: white;
}

.btn:nth-child(1) a{
    color: var(--Light-red);
}

.btn:nth-child(2){
    background-color: transparent;
}

.top-header{
    height: var(--top-header-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: 100%;
}

.header-btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.header-text{
    padding: 0 0.9rem;
}

.header-text  > p{
    padding-top: 1.6rem;
    padding-bottom: 3rem;
}


.first-h2 {
    padding-top:6.6rem;
}


/* special section */

.special-section{
    padding-top:10rem;
    background: url(images/bg-pattern-circles.svg) no-repeat center top -30rem,
                        linear-gradient(180deg,   var(--Very-dark-gray-blue) 0%,
                        var(--Very-dark-desaturated-blue) 100%);
    height: max-content;
    border-radius: 0 6.1rem 0 6.1rem;
    margin-bottom: 4rem;
}

.special-image {
    position: relative;
    top: 15rem;
    margin-top: -10rem;
}

.special-section h2{
    color:white;
}
.special-section p{
    padding: 0 2rem 13rem 2rem;
    font-family: "Overpass", 'sans-serif';
    color:white;
    
}




/* footer */
footer{
margin-top:8rem;
    background-color: var(--Very-dark-black-blue);
    border-radius: 0 6.1rem 0 0;
    height: var(--footer-height);
}

footer img{
    margin: 4rem;
}

footer a{
    color: white;
}

footer > ul > li > ul{
    margin: 2.5rem;
}
footer > ul > li > a{
    font-weight: 600;
}

footer > ul > li > ul li:not(:last-child){
    margin-bottom : 1rem;
}

@media (min-width: 500px) and (max-width: 799px){
    .header-btn-area{
        /* flex-direction: column; */

    }
}

@media (min-width : 800px){
header{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: "icon1 nav" "bottom-header bottom-header";
    padding:var(--top-header-distance) 5rem;
}

    nav{
        display: block;
    }

    .top-header{
        height: 100%;
    }

    .menu{
        position: static;
        background-color: transparent;
        box-shadow: none;
        grid-area: nav;
    }

    .icon{
        grid-area: icon1;
        height:2rem;

    }

    .menu a{
        color:white;
        font-size: 1rem;
    }

    .menu-list{
        flex-direction: row;
        margin: 0;
    }

    .menu-list:last-child{
        margin:0;
    }

    .menu-item:nth-child(3){
        margin-right: auto;
    }

    .menu-item{
        margin: 0 1.5rem;
    }

    .menu-item a img{
        display: none;
    }

    .menu-list hr{
        display: none;
    }
    .menu-item:first-child {
        margin-top: 0;
        margin-left:3rem
    }
    
    .hamburger{
        display: none;
    }

    .bottom-header{
        grid-area: bottom-header;
    }

    .menu-item{
        width:min-content;
    }

    .submenu{
        position:absolute;
        margin:0;
    }

    footer{
        height: max-content;
        display: flex;
        padding: 3rem 5rem;
        justify-content: space-between;

    }

    footer > ul{
        display:flex;
        width: 100%;
        justify-content: space-evenly;
    }

    footer >img{
        /* display: none; */
        margin: 0 1.5rem 0 0;
        height: 2rem;
    }

    footer > ul > li > ul {
        margin-bottom: 0;
    }

    footer > ul > li > ul > li{
        text-align: left;
    }
}